*{
    margin: 0;
    padding:0;
}
section {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-area: 1/4/2/4;
}

section div {
    text-align: center;
    line-height: 100;
    font-weight: bold;
    border: 1px solid black;
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}
.lista{
    display: flex;
    margin-right: 20px;
}
.lista li{
    margin-right:20px;
    list-style: none;
}
.lista li a {
    text-decoration: none;
    color: black;
}
.container{
    display: flex;
}
.articulos {
    display: flex;
}
.articulo {
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 250px;
    background-color: aquamarine;
}




.box {
    width: 200px;
    height: 200px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
.green {
    background-color: green;
}